::placeholder {
    color: rgba(255, 255, 255, 0.70);
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.container {
    position: relative;
    width: 1200px;
    min-height: 850px;
    margin: 0 auto;
    margin-top: 25px;
    padding: 5px;
    display: flex;
    border-radius: 10px;
}
.left {
    width: 60%;
    padding: 20px 0;
}
.calendar {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #878895;
    border-radius: 5px;
    background-color: #373C4F;
    box-shadow: 2px 6px 4px 0px rgba(0, 0, 0, 0.35);
}
.month {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    text-transform: capitalize;
}
.arrow{
    display: flex;
    gap: 42px;
}
.prev,
.next {
    cursor: pointer;
}
.weekdays {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 50px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: capitalize;
    color:#FFF;
}
.weekdays p {
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}
.day {
    width: 14.28%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #FFF;
    border: 0.5px solid #DFDFDF;
}
.day:not(.prev-date, .next-date):hover {
    color: #ffff;
    background-color: #4f5672;
}
.prev-date,
.next-date {
    font-size: 12px;
    color: #FFFFFFB2;
}
.days .active {
    position: relative;
    font-size: 18px;
    color:  #808080;
    background-color: #FFF;
    box-shadow: 2px 5px 4px 0px rgba(255, 228, 228, 0.20);
}
.days .active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 2px 5px 4px 0px rgba(255, 228, 228, 0.20);
}
.today {
    font-size: 26px;
    font-weight: 700;
    color: #ffff; 
}
.days .note {
    position: relative;
}
.days .note::after {
    content: '';
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    height: 5px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: #ffff; 
}
.days .note:hover::after {
    background-color: #4f5672;
}
.days .active.note::after {
    background-color: #4f5672;
    bottom: 20%;
}
.days .active.note {
    padding-bottom: 10px;
}

.right {
    width: 40%;
    min-height: 100%;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    align-content: space-between;
}
.right .today-date {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 59px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.today-date .note-day {
    color:#000;
    font-size: 20px;
    font-weight: 700;
}
.today-date .note-date {
    font-size: 15px;
    font-weight: 700;
    color: #808080;
    margin-top: 9px;
}
.notes {
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 4px;
}
.notes .note {
    position: relative;
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    color: #ffff;
    border-radius: 10px;
    border: 1px solid #DFDFDF;
    padding: 18px 18px;
    margin-bottom: 12px;
    margin-left: 10px;
    max-height: 1000px;
}
.notes .note:hover {
    box-shadow: inset 0 0 0 2px #a9a9aa;
} 
.notes .note .title {
    display: flex;
    align-items: center;
    word-break:break-all;
}
.notes .note .title .note-title {
    font-size: 15px;
    font-weight: 700;
    color: #000;
    width: 100%;
}
.notes .note .note-description {
    color: #808080;
    font-size: 15px;
    font-weight: 600;
    max-width: 100px;
    word-break:break-all;
}
.notes .note::after {
    content: "✕";
    position: absolute;
    top: 50%;
    right: 8px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    color: #413e63;
    transform: translateY(-50%);
    cursor: pointer;
}
.notes .note:hover::after{
    display: flex;
} 
.notes .no-notes{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    color: #878787;
}
 .add-note-wrapper{
    border-radius: 5px;
    position: absolute;
    bottom: 120px;
    left: 80%;
    width: 38%;
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: #fff;
    transform: translateX(-50%);
    transition: max-height 0.5s;
}
.add-note-wrapper.active{
    max-height: 700px;
    border: 1px solid #D9D9D9;
}
.add-note-header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    color: #000;
    border-bottom: 1px solid #D9D9D9;
}
.add-note-header .close{
    font-size: 16px;
    cursor: pointer;
}
.add-note-header .title{
    font-size: 16px;
    font-weight: 600;
}
.add-note-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
} 
.add-note-body .add-note-input label{
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
    color: #4f5672;  
}
.add-note-body  :where(input){
    width: 100%;
    height: 25px;
    font-size: 16px;
    outline: none;
    padding: 3px 15px;
    border: 1px solid #D9D9D9;
    border: none;
    border-bottom: 1px solid #D9D9D9;
    margin: 2px 10px 15px 5px; 
}
.add-note-body  :where(textarea){
    width: 100%;
    height: 100px;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    padding: 0 15px;
    border: 1px solid #D9D9D9;
    margin-top: 10px;
}
.add-note-body textarea{
    resize: none;
    padding: 10px 15px;
    color: #4f5672;
}
.add-note-btn{
    height: 40px;
    width: 30%;
    font-size: 14px;
    font-weight: 500;
    margin-left: 300px;
    outline: none;
    border: none;
    color: #fff;
    background-color: #373C4F;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #373C4F;
    margin-bottom: 10px;
}
.add-note-btn:hover{
    color: #000;
    background-color: transparent;
}
.add-note{
    position: absolute;
    bottom: 60px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #b3afaf;
    border: 2px dashed #b3afaf;
    opacity: 0.7;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}
.add-note:hover{
    opacity: 1;
}
.add-note i{
    pointer-events: none;
}